Options -Indexes

RewriteEngine On

RewriteRule ^(\.|config\.json$|cli\.php$|Dockerfile$|README\.md$|DEVELOPMENT\.md$|app/|images/|tests/|test-image/|\.runtime/|public/) - [F,L,NC]

RewriteCond %{REQUEST_URI} !/index\.php$
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
